body {
	margin:50px;
	font:1em "맑은 고딕",Cambria,Georgia,sans-serif;
 }

h1 {
  color: #006E96;
}

span {
  color: #AB944F;
  font-size: 0.8em;
}

h2 {
 color: #AB944F;
}

img {
  width: 150px;
}

div.point {
  background: url("./imgs/video_star.jpg") no-repeat;
  width: 80px;
  height: 80px;
  font-weight: bold;
  text-align:center;
  padding-top: 30px;
}

table {
  width: 800px;
}
td {
  padding: 10px;
}